<% layout("layouts/boilerplate") %>


<div class="row">
    <h1 class="col-6 offset-3">Signup on Wanderlust</h1>
     <div class="col-6 offset-3">
        <form action="/signup" method="POST" class="needs-validation" novalidate>
           <div class="mb-3">
        <label for="username"  id="username" class="form-label">Username</label>
        <input type="text" name="username" class="form-control" id="username"  required   />
        <div class="valid-feedback"> looks good!</div>
      </div>
         <div class="mb-3">
        <label for="email"  id="email" class="form-label">Email</label>
        <input type="email" name="email" class="form-control" id="username"  required   />
        
      </div>
            <div class="mb-3">
        <label for="password"  id="username" class="form-label">Password</label>
        <input type="password" name="password" class="form-control" id="password"  required   />
        <div class="valid-feedback"> looks good!</div>
      </div>
  <button class="btn btn-success">SignUp</button>
        </form>
    
     </div>
 </div>
